@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(imagens/back-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

nav{
    margin: 20px 10px;
}

nav > a{
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 12px;
    margin: 10px;
    
}

nav > a:hover{
    background-color: rgb(146, 59, 146);
    color: white;
}

div{
    background-color: rgba(255, 255, 255, 0.644);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
}

input{
    color: rgba(0, 0, 0, 0.548);
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    width: 250px;

}

input#msg{
    height: 100px;
}

input#button:hover{
    background-color: rgb(146, 59, 146);
    color: white;
}

input#button: